* {
	padding: 0px;
	margin: 0px;
}

.h-screen {
	height: 100dvh;
	overflow: hidden;
}

.flex {
	display: flex;
}

.flex-directional {
	flex-direction: column;
}

.flex-col {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

@media (min-width: 768px) {
	.flex {
		display: flex;
	}
	.flex-directional {
		flex-direction: row;
	}
}

.flex-1 {
	flex: 1;
}

.overflow-visible {
	overflow: visible;
}

.overflow-hidden {
	overflow: hidden;
}

.relative {
	position: relative;
}

#animate {
	transition: all;
	transition-duration: 1000ms;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
}

#globeViz {
	width: 100dvw;
	height: 100dvh;
	position: absolute;
	inset: 0px;
	z-index: 0;
}

#fill-btns {
	position: relative;
	z-index: 2;
}
