* {
	padding: 0px;
	margin: 0px;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-1 {
	flex: 1;
}

.overflow-visible {
	overflow: visible;
}

.overflow-hidden {
	overflow: hidden;
}

#animate {
	transition: all;
	transition-duration: 1000ms;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
}
